<html>
  <head>
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <style type="text/css" media="screen">@import "/iui/iui.css";</style>
    <script type="application/x-javascript" src="/iui/iui.js"></script>
  </head>

  <body>
    	<div class="toolbar">
		<h1>Hello World</h1>
    	</div>
	<ul id='home' title="Yes, please!" selected="true" >
		<li><a href='date'>What's the time baby?</a></li>
		<li><a href='smile'>Please smile at me?</a></li>
		<li><a href='blog' target='_self'>Man, you gotta read my blog!</a></li>
	</ul>
  </body>
</html>
