<div id="blog-form" title="Blog Form" class="panel">
	<form action='blog/create' method='post'>
		<label>Title</label>
		<input type='text' name='blog[title]' />
		<label>Body</label><br />
		<textarea name='blog[body]' cols='40' rows='20'></textarea>
		<br />
		<input type='submit' value='Create Post' />
	</form>
</div>
